---
import { Image } from 'astro:assets';
import img0 from '../images/carousel/20260520_201858.jpg';
import img1 from '../images/carousel/20260506_175055.jpg';
import img2 from '../images/carousel/20260520_165432.jpg';
import img3 from '../images/carousel/20260504_103949.jpg';
import img4 from '../images/carousel/20260517_113410.jpg';
const { images = [ img0, img1, img2, img3, img4 ] } = Astro.props;
---

<div class="card">
  <div class="slide-container">
    {images.map((src, i) => (
      <div class={`slide s${i}`} data-index={i}>
        <Image src={src} alt={`foto-${i}`} class="img" width={1920} sizes="(max-width: 600px) 600px, (max-width: 1200px) 1200px, 1920px"/>
      </div>
    ))}
  </div>
</div>

<style>
  .card {
    display: flex;
    justify-content: center;
    padding: 1rem;
    /* background: #ebdec7; */
  }
  .slide-container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 60svh;
    overflow: hidden;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .slide.active {
    opacity: 1;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide.s0 img {
    object-position: 70% 50%;
  }

  .slide.s1 img {
    object-position: 90% 70%;
  }

  .slide.s4 img {
    object-position: 40% 50%;
  }
</style>

<script>
  const slides = Array.from(document.querySelectorAll('.slide'));
  let idx = 0;
  function show(i){ slides.forEach(s=>s.classList.remove('active')); slides[i].classList.add('active') }
  let timer;
  if(slides.length){
    show(0);
    timer = setInterval(()=>{ idx=(idx+1)%slides.length; show(idx); }, 5000);
    slides.forEach((s,i)=> s.addEventListener('click', ()=>{
      idx = (i+1) % slides.length; show(idx);
      clearInterval(timer);
      timer = setInterval(()=>{ idx=(idx+1)%slides.length; show(idx); }, 2000);
    }));
  }
</script>
