---
import { Image } from 'astro:assets';

import dress_code from '../images/iconos/dress_code.png';
---
<div class="card">
  <div class="title">
    <Image src={dress_code} alt="Dress Code" width={600} sizes="(max-width: 600px) 600px, (max-width: 1200px) 1200px, 1920px" />
    <h1>Dress code</h1>
  </div>
  <p>Elegante Casual<br>Ellas: Vestidos midi, largos, o conjuntos con estilo.</br>Ellos: Traje (con corbata opcional).</br>El blanco queda reservado para la novia</p>
  <a href="https://pin.it/2CvRdlP4u">&#x1F517 Inspiración</a>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2vw, 30px);
    padding: clamp(10px, 2vw, 30px);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background: var(--card-bg);
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 0;
  }
  .title img {
    height: calc( 1.8*clamp(1rem, 14vw, 8vh));
    width: auto;
    margin-right: auto;
    opacity: 0.6;
  }
  h1 {
    font-size: clamp(1rem, 14vw, 8vh);
    line-height: 0;
  }
  p, a {
    margin-top: 0;
    margin-bottom: 0;
    font-size: clamp(1rem, 4vw, 3vh);
    line-height: clamp(1rem, 4vw, 3vh);
    max-width: clamp(600px, 60vw, 90vw);
    color: var(--text);
  }
  a {
    background: var(--action-bg);
    border-radius: 60%;
    /* border: 5px solid black; */
    box-sizing: border-box;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    padding: clamp(1rem, 4vw, 3vh);
    text-decoration: none;
  }
</style>