---
import { Image } from 'astro:assets';

import regalo from '../images/iconos/regalo.png';
---

<div class="card">
  <div class="title">
    <Image src={regalo} alt="Regalo" width={600} sizes="(max-width: 600px) 600px, (max-width: 1200px) 1200px, 1920px" />
    <h1>Regalo</h1>
  </div>
  <p>¡El mejor regalo es tu presencia!<br/><br/>Si deseás realizarnos otro regalo, podés</br>colaborar con nuestra Luna de Miel...</p>
  <div class="button-container">
    <button id="copyBtn" class="action-btn">&#x1F517 Datos bancarios</button>
    <span id="info">Alias: YAS.IVAN.2026<br/>CBU: 4530000800016239585759</span>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2vw, 30px);
    padding: clamp(10px, 2vw, 30px);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
    /* background: #ebdec7; */
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 0;
  }
  .title img {
    height: calc( 1.8*clamp(1rem, 14vw, 8svh));
    width: auto;
    margin-right: auto;
    opacity: 0.6;
  }
  h1 {
    font-size: clamp(1rem, 14vw, 8svh);
    line-height: 0;
  }
  p, button, span {
    margin-top: 0;
    margin-bottom: 0;
    font-size: clamp(1rem, 4vw, 3svh);
    line-height: clamp(1rem, 4vw, 3svh);
    max-width: clamp(600px, 80vw, 90vw);
    color: var(--text);
  }
  span {
    text-align: left;
  }
  button {
    background: #88aa82;
    border-radius: 60%;
    border: none;
    box-sizing: border-box;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    padding: clamp(1rem, 4vw, 3svh); 
  }

  /* Keep the button and text grouped together */
  .button-container {
    position: relative;
    display: inline-block;
  }

  /* Style and hide the hover text by default */
  .button-container span {
    visibility: hidden;
    /* width: 160px; */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    
    /* Position the text above the button */
    position: absolute;
    z-index: 1;
    bottom: 110%; 
    left: 50%;
    transform: translateX(-50%);
    
    /* Smooth fade-in effect */
    opacity: 0;
    transition: opacity 0.3s;
  }

  .button-container:hover button {
    cursor: pointer;
  }
</style>

<script>
  // Find the button on the page using its ID
  const button = document.getElementById('copyBtn');
  const span = document.getElementById('info');
  let shown = false;
  if (button) {
    button.addEventListener('click', () => {
      if (!span) {
        return;
      }
      if (shown) {
        span.style.visibility = "hidden";
        span.style.opacity = "0";
        shown = false;
      } else {
        span.style.visibility = "visible";
        span.style.opacity = "1";
        shown = true;
      }
      const textToCopy = "YAS.IVAN.2026";

      navigator.clipboard.writeText(textToCopy)
        .then(() => {
        })
        .catch(err => {
          console.error("Failed to copy text: ", err);
        });
    });
  }
</script>
