---
import { Image } from 'astro:assets';

import hero from '../images/IMG_4467.png';
import flores from '../images/iconos/flores.png';
---

<header>
  <section class="header">
    <div class="header-text">
      <div>
        <h1>YASMIN &amp; IVAN</h1>
        <h2>Nos Casamos!</h2>
      </div>
      <div class="deco">
        <Image src={flores} alt="flor" />
      </div>
    </div>
    <div class="picture" style={`--offsetX: 0; --offsetY: 0;`}>
      <Image src={hero} alt="Yasmin & Ivan" />
    </div>
  </section>
</header>

<style>
  .header { display: flex; overflow: hidden; align-items: center; justify-content: center; text-align: center; flex-direction: row; margin: clamp(10px, 2vw, 30px)}
  .header * { gap: 0; margin: 0; padding: 0; }
  .header-text { display: flex; align-items: center; justify-content: center; text-align: center; flex-direction: row}
  .header-text img { object-fit: scale-down; max-width: 35vw;}
  .header h1 {
    font-family: 'Fraunces', serif;
    font-size: clamp(1rem, 14vw, 8vh);
  }
  .header h2 {
    font-family: 'BeautifulDeliciousScript', serif;
    font-size: clamp(1rem, 18vw, 12vh);
  }
  .picture { max-height: 100vh; min-height: 60vh; min-width: 0; width: 50vw; height: 90vh; overflow: hidden; border-radius: 30%; display:flex; border: 3px solid #006400; }
  .picture img { object-fit: cover; height: 100%; width: 100%; object-position: 80% 50%; }
  @media (max-width: 2000px) {
    .header { flex-direction: column; }
    .header-text { max-height: 40vh; }
    .picture { width: 90vw; }
  }
</style>
