---
import { Image } from 'astro:assets';

import hero from '../images/IMG_4467.png';
import flores from '../images/iconos/flores.png';
---

<header>
  <section class="header">
    <div class="header-text">
      <div>
        <h1>YASMIN &amp; IVAN</h1>
        <h2>Nos Casamos!</h2>
      </div>
      <div class="deco">
        <Image src={flores} alt="flor" width={600} sizes="(max-width: 600px) 600px, (max-width: 1200px) 1200px, 1920px" />
      </div>
    </div>
    <div class="picture" style={`--offsetX: 0; --offsetY: 0;`}>
      <Image src={hero} alt="Yasmin & Ivan" width={1920} sizes="(max-width: 600px) 600px, (max-width: 1200px) 1200px, 1920px" />
    </div>
  </section>
</header>

<style>
  .header { display: flex; overflow: hidden; align-items: center; justify-content: center; text-align: center; flex-direction: row; margin: clamp(10px, 2vw, 30px)}
  .header * { gap: 0; margin: 0; padding: 0; }
  .header-text { display: flex; align-items: center; justify-content: center; text-align: center; flex-direction: row}
  .header-text img { object-fit: contain; max-width: 35vw; max-height: clamp(4rem, 40vw, 30svh);}
  .header h1 {
    font-size: clamp(1rem, 14vw, 8svh);
  }
  .header h2 {
    font-family: 'BeautifulDeliciousScript', serif;
    font-size: clamp(1rem, 18vw, 12svh);
  }
  .picture { max-height: 100svh; min-height: 60svh; min-width: 0; width: 50vw; height: 90svh; overflow: hidden; border-radius: 30%; display:flex; border: 1px solid #006400; }
  .picture img { object-fit: cover; height: 100%; width: 100%; object-position: 80% 50%; }
  @media (max-width: 1280px) {
    .header { flex-direction: column; }
    .header-text { max-height: 40svh; }
    .picture { width: 80vw; }
  }
</style>
